{% extends 'layout.twig' %}

{% block content %}
    {% if userLog %}
        <section id="homepage"
        class="bg-main-background w-full h-[92vh] flex flex-col justify-center items-center space-y-12">
        <h1 class="text-6xl font-bold text-tea-green">Créer une catégorie</h1>
        <div id="register">
        <form class="login-form" action="{{ url_for('CreateCat') }}" method="post">
            <label class="form-label" for="nom">Nom de la catégorie</label>
            <input class="form-input" type="text" name="nom" id="nom" required>
            <input type="hidden" name="csrf" value="{{ csrf }}">
            <input class="form-button" type="submit" value="Créer" >
        </form>
        {% if exist %}
            <p class="text-red-600"> Une catégorie porte déjà ce nom </p>
        {% endif %}
        </div>
        </section>
    {% else %}
        <h1 class="bg-main-background h-[92vh] text-4xl font-bold text-red-600 flex flex-col justify-center items-center">Vous n'êtes pas connecté</h1>
    {% endif %}
{% endblock %}