{% extends 'layout.twig' %}

{% block content %}
    <section id="homepage"
             class="bg-main-background w-full h-[92vh] flex flex-col justify-center items-center space-y-12">
    {% if userLog %}
        <div class="text-center h-20 text-2xl">
            <h1 class="text-6xl font-bold text-tea-green">Bienvenue sur Minipress</h1>
        </div>
    {% else %}
        <div class="text-center h-20 text-2xl">
            <h1 class="text-6xl font-bold text-tea-green">Minipress</h1>
            <h2 class="text-4xl font-bold text-tea-green">un MiniCMS headless qui fait le Maximum</h2>
        </div>
    {% endif %}
    </section>
{% endblock %}