{% extends 'layout.twig' %}

{% block content %}
    {% if userLog %}
        <div class="text-center h-20 text-2xl">
            <h1>Bienvenue sur MiniPress</h1>
        </div>
    {% else %}
        <div class="text-center h-20 text-2xl">
            <h1>MiniPress</h1>
            <h2>un MiniCMS headless qui fait le Maximum</h2>
        </div>
    {% endif %}
{% endblock %}