{% extends 'layout.twig' %}

{% block content %}
    <section id="homepage"
             class="bg-main-background w-full h-[90vh] flex flex-col justify-center items-center space-y-12">
        <h1 class="text-6xl font-bold text-tea-green">Connexion</h1>
        <div id="login" class="h-1/3">
            <form class="login-form" action="{{ url_for('connexion') }}" method="post">
                <label class="form-label" for="email">Email</label>
                <input class="form-input" type="email" name="email" id="email" required>
                <label class="form-label" for="mdp">Mot de passe</label>
                <input class="form-input" type="password" name="mdp" id="mdp" required>
                <input class="form-input" type="hidden" name="csrf" value="{{ csrf }}">
                <input class="form-input" type="submit" value="Créer">
            </form>
        </div>
    </section>
    {% if fail %}
        <p class="text-red-600"> Email ou mot de passe incorrect </p>
    {% endif %}
{% endblock %}