{% extends 'layout.twig' %}

{% block content %}
    {% if userAdmin %}
    <h1>Inscription</h1>
    <form class="form" action="{{ url_for('inscription') }}" method="post" >
        <label for="nom">Nom</label>
        <input type="text" name="nom" id="nom" required>
        <label for="prenom">Prenom</label>
        <input type="text" name="prenom" id="prenom" required>
        <label for="email">Email</label>
        <input type="text" name="email" id="email" required>
        <label for="mdp">Mot de passe</label>
        <input type="password" name="mdp" id="mdp" required>
        <label for="mdpVerif">Entrer à nouveau votre mot de passe</label>
        <input type="password" name="mdpVerif" id="mdpVerif" required/>
        <input type="hidden" name="csrf" value="{{ csrf }}">
        <input type="submit" value="Créer" class="submit">
    </form>
    {% else %}
        <h1> Vous n'êtes pas admin</h1>
    {% endif %}


{% endblock %}