{% extends 'layout.twig' %}

{% block content %}
    <h1>Liste des utilisateurs</h1>
    <ul>
        {% for user in users %}
            <li>
                <p>{{ user.nom }} {{ user.prenom }}</p>
                <p>{{ user.email }} </p>
                {% if user.statut == 2 %}
                    <p>Administrateur</p>
                {% else %}
                    <p>Auteur</p>
                {% endif %}
                <p>Liste des articles de l'auteur <a href="{{ url_for('listArticleAuteur', {'id_user': user.id}) }}"> ici</a></p>
            </li>
        {% endfor %}
    </ul>

{% endblock %}