{% extends 'layout.twig' %}

{% block content %}
    {% if userLog %}
        <section id="homepage"
        class="bg-main-background w-full h-[92vh] flex flex-col justify-center items-center space-y-12">
        <h1 class="text-6xl font-bold text-tea-green">Créer un article</h1>
        <div id="register">
        <form class="article-form" action="{{ url_for('CreateArticle') }}" method="post">
            <label class="form-label" for="titre">Titre*</label>
            <input class="form-input" type="text" name="titre" id="titre" required>
            <label class="form-label" for="resume">Resume*</label>
            <input class="form-input"  type="text" name="resume" id="resume" required>
            <label class="form-label" for="contenu">Contenu*</label>
            <textarea class="form-input" type="text" name="contenu" id="contenu" required></textarea>
            <label class="form-label" for="categorie">Catégorie*</label>
            <select class="bg-dark-tea text-sm rounded-lg  block w-full p-2.5  dark:placeholder-gray-400 dark:text-green-tea dark:focus:ring-blue-500 dark:focus:border-blue-500" name="categorie" id="categorie" required>
                <option value="">--Categorie--</option>
                {% for categ in categs %}
                    <option value={{ categ.id }}>{{ categ.nom }}</option>
                {% endfor %}
            </select>
            <label class="form-label" for="image">Lien de votre image</label>
            <input class="form-input"  type="text" name="image" id="image">
            <input type="hidden" name="csrf" value="{{ csrf }}">
            <input type="submit" value="Créer" class="form-button">
        </form>
        </div>
        </section>
    {% else %}
        <h1 class="bg-main-background h-[92vh] text-4xl font-bold text-red-600 flex flex-col justify-center items-center">Vous n'êtes pas connecté</h1>
    {% endif %}
{% endblock %}