{% extends 'layout.twig' %}

{% block content %}
    <section id="homepage"
             class="bg-main-background w-full h-[92vh] flex flex-col justify-center items-center space-y-12">
    <h1 class="text-center text-6xl font-bold text-tea-green">Liste des articles</h1>
    <ul class="list-disc">
    {% for article in articles%}
        <li class="my-3">Titre: {{ article.titre }} <p>Publié le {{ article.date_creation }}</p></li>
    {% endfor %}
    </ul>
    </section>

{% endblock %}